@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom font-face declaration */
@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("/fonts/PixelatedMSSansSerif-Regular.woff2") format("woff2"),
        url("/fonts/PixelatedMSSansSerif-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("/fonts/PixelatedMSSansSerif-Bold.woff2") format("woff2"),
        url("/fonts/PixelatedMSSansSerif-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #008080; /* Teal background for the full page */
    box-sizing: border-box;
    font-family: "Pixelated MS Sans Serif" !important;
}

#canvas-container {
    width: 100vw;
    height: 100vh;
  }